.container-legends {
    background-color: #9DBBC3;
    border-radius: 8px;
    height: 32px;
    align-items: center;
    padding-left: 24px;
    padding-bottom: 24px
}
.MuiTableRow-root .legends {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #FFFFFF;
}
.main-clientcard {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 8px;
    padding-left: 24px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 24px;
}
.client-details {
    display: flex;
    column-gap: 10px;
}
.clientcard-text {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #4c4c4c
}
.client-name {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #4c4c4c;
    cursor: pointer;
}
.clientcard-status {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}
.clientcard-status-red {
    color: #FF4D4D;
}
.clientcard-status-green {
    color: #4EC06E;
}

.linha {
    background-color: #E5E5E5;
    height: 18px;
}

.clienttable-body .MuiTableRow-root td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
.clienttable-body .MuiTableRow-root td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.MuiTableRow-root th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.MuiTableRow-root th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.batatinha {
    width: 1050px;
}