.input-div {
    display: flex;
    flex-direction: column;
    padding-top: 20px
}
.custom-input {
    border: 1px solid #374952;
    border-radius: 8px;
    width: 488px;
    height: 56px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.25px;
    text-align: left;
    padding-left: 24px;
}
.container-main{
    display: flex;
}
.clientContainerContent{
  background-color: #E5E5E5;
  margin: 0 5%;
  width: 80%;
  display: flex;
  flex-direction:column;
  padding-top: 5%;
}
.new-charge-form {
    width: 958px;
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    row-gap: 30px
}

.formNewClient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.valor-input {
    border: 1px solid #374952;
    border-radius: 8px;
    width: 160px;
    padding-left: 24px;
    height: 35px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.25px;
    text-align: left;
}
.valor-vencimento {
    display: flex;
    column-gap: 16px;
}
.description-alert {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #868686;
}
.custom-input::placeholder{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.25px;
    text-align: left;
    
}