.btn-pink{
    background-color: #DA0175;
    color:#f7f7f7;
    width:166px ;
    border: none;
    margin: 30px;
    cursor: pointer;
}
.btn-white-pink{
    list-style: none;
    background-color: white;
    color:#DA0175;
    border: solid 2px #DA0175;
    width:166px ;
    margin: 30px;
    cursor: pointer; 
}
.button-align{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    

}

.button-align-signUp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-pink:hover{
    transform: scale(1.1);
    background-color: #f87cbf;
    cursor: pointer;
}
.btn-white-pink:hover{
    transform: scale(1.1);
    background-color: #f87cbf;
    cursor: pointer;
    border: solid 2px #f87cbf;
    color: white;
}