.main-chargecard {
    height: 90px;
    width: 410px;
    left: 779px;
    top: 250px;
    border-radius: 8px;
    background-color: #F9F9F9;
    margin-left: 28px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.chargecard-text {
    all: unset;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #4c4c4c
}
.charge-id-client {
    all: unset;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #4c4c4c
}
.chargecard-status {
    all: unset;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}
.chargecard-status-red {
    color: #FF4D4D;
}
.chargecard-status-green {
    color: #4EC06E;
}
.charge-info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center
}
.charge-details {
    display: flex;
    column-gap: 5px;
    align-items: center;
}