
.sidebarMenu{
display: flex;
flex-direction: column;
padding-top: 0;
background-color: #263238;
min-width: 200px;
width: 20%;
height: 100rem;


}

.menuOption{
display: flex;
align-items: center;
color: white;
margin: 20px auto 0 25%;
gap: 20px;
cursor: pointer;
}

.buttonDiv{
margin: 300px auto auto auto;
}

.logo{
    margin-bottom: 40px;
    margin-top: auto;
    
}
