.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    border-radius: 8px;
    border: 1px solid #374952;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    width: 312px;
    height: 40px
}
.label-select {
    padding-left: 20px;
    margin-bottom: 0;
}
.custom-datepicker-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}