.icon-usuario {
    align-self: flex-start;
    cursor: pointer;
    margin-left: 180px;
    margin-top: 32px
  }
  .btn-usermenu {
    all: unset;
    cursor: pointer;
    text-align: center;
  }
  .row-menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px;
    cursor: pointer;
  }