.icon-usuario {
    width: 40px;
    height: auto;
    position: absolute;
    right: 30px;
    top:30px;
    cursor:pointer
  }
  .btn-usermenu {
    all: unset;
    cursor: pointer;
    text-align: center;
  }
  .row-menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px;
    cursor: pointer;
  }